Flask==3.0.0
pymongo==4.6.0
python-telegram-bot==13.13
Requests==2.31.0
tel==1.0.0
Telethon==1.32.1
captcha==0.5.0
Pillow==10.2.0


update_data = {"$set": {"title": new_name,"description": new_description}}